.accordion {
  @include list-reset;
}

.accordion--filter {
  margin-bottom: 36px;
}

.accordion__item {
  position: relative;
}

.accordion__item--filter {
  border: 1px solid $brown;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid $brown;
  }

  @media (max-width: $tablet-width) {
    border: none;
    border-bottom: 1px solid $brown;
  }
}

.accordion__item .accordion__body {
  display: none;
}

.accordion__item--open .accordion__body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.accordion__button {
  position: relative;
  width: 100%;
  padding: 1px 0;
  text-align: left;
  line-height: 23px;
  letter-spacing: 0.005em;
  transition: color ease-out 0.2s;

  &:hover {
    color: $brown;
  }

  &::after {
    position: absolute;
    right: 5px;
    top: 7px;
    content: "";
    width: 17px;
    height: 10px;
    background-image: url("../img/icons/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: transform ease-out 0.3s;

    @media (max-width: $tablet-width) {
      top: 5px;
      right: 0;
      width: 23px;
      height: 12px;
      background-size: 23px 15px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0 14% 0 0;
  }
}

.accordion__button--filter {
  &::after {
    right: -2px;
    top: 28px;
  }
}

.accordion__item--open .accordion__button {
  &::after {
    transform: rotate(180deg);
  }
}

.accordion__button--no-js {
  &::after {
    display: none;
  }
}
