.added__content {
  box-sizing: border-box;
  width: 500px;
  min-height: 439px;
  padding: 20px 35px 55px 35px;
  background-color: $white;
  background-image: none;
  color: $liquorice;

  h2 {
    font-size: 26px;
    letter-spacing: -0.003em;

    @media (max-width: $mobile-width) {
      padding: 0 25px;
      font-size: 24px;
      line-height: 29px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 20px 30px 55px 30px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    padding: 20px 15px 55px 15px;
  }
}

.added__items {
  @include list-reset;

  padding: 20px 0 0 0;

  @media (max-width: $mobile-width) {
    font-size: 16px;
  }
}

.added__item {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 20px;
  margin: 0 0 40px 0;

  h3 {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
    margin: 0 0 10px 0;
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 23px 0;
  }
}

.added__item-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.added__image-container {
  width: 84px;

  @media (max-width: $mobile-width) {
    width: 70px;
  }
}

.added__total {
  display: flex;
  justify-content: space-between;
  box-shadow:
    30px -1px 0 $white,
    -30px -1px 0 $white,
    30px -2px 0 $seashell,
    -30px -2px 0 $seashell;
  margin: 0 0 20px 0;

  p {
    &:first-child {
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    font-size: 12px;
    box-shadow:
      15px -1px 0 $white,
      -15px -1px 0 $white,
      15px -2px 0 $seashell,
      -15px -2px 0 $seashell;
  }
}

.added__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  transition: all ease-out 0.2s;
  color: $white;

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.added__button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 21px;
  border: 1px solid $brown;
  text-align: center;

  &:first-child {
    color: $liquorice;
  }
}

.added__button__continue {
  &:hover {
    background-color: $brown;
    color: $white;
  }
}

.added__button--checkout {
  background-color: $brown;

  &:hover {
    background-color: $white;
    color: $brown;
  }
}
