.blog {
  text-align: center;
  padding: 0 0 120px 0;

  h2 {
    margin-bottom: 17px;
  }

  img {
    min-height: 100%;
  }

  @media (max-width: $tablet-width) {
    padding: 0 0 70px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 60px 0;
  }
}

.blog__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 63px 0 0 0;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 64px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 52px 0 0 0;
    gap: 40px;
  }
}

.blog__item {
  background-color: $desert-storm;
}

.blog__item--big {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: span 2;

  @media (max-width: $tablet-width) {
    grid-row-start: auto;
    grid-column-start: auto;
    grid-row-end: auto;
  }
}
