.catalog {
  margin-bottom: 73px;
  padding-top: 20px;

  @media (max-width: $mobile-width) {
    padding-top: 40px;
    margin-bottom: 62px;
  }
}

.catalog__container {
  display: grid;
  grid-template-columns: 21.4% auto;
  gap: 50px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  @media (max-width: $mobile-width) {
    gap: 20px;
  }
}

.catalog__controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-column: 2;

  @media (max-width: $tablet-width) {
    grid-column: auto;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.catalog__open-modal-button {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    width: 100%;
    padding: 22px 22px 21px 22px;
    text-align: center;
    background-color: $brown;
    color: $white;
  }
}

.catalog__button {
  &:hover {
    color: $brown;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.catalog__button--previous {
  justify-self: start;
}

.catalog__button--next {
  justify-self: end;
}
