.header {
  padding: 30px 0 90px 0;

  @media (max-width: $tablet-width) {
    padding: 30px 0 41px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 0 31px 0;
  }
}

.header--inner {
  padding: 30px 0 60px 0;

  @media (max-width: $tablet-width) {
    padding: 30px 0 30px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 0 0 0;
  }
}

.header--menu-open {
  @media (max-width: $tablet-width) {
    background-color: $brown;
    color: $white;
  }
}

.header__container {
  position: relative;
}

.header__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $seashell;

  @media (max-width: $tablet-width) {
    border: none;
    margin-bottom: 13px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 3px;
  }
}

.header__logo {
  svg {
    @media (max-width: $mobile-width) {
      width: 52px;
      height: 52px;
    }
  }
}

.header__intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 463px;
  font-family: $secondary-font;
  text-align: center;
  color: $white;
  background-color: $brown;
  background-image: url("../img/backgrounds/bg-main-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    color: $white;

    @media (max-width: $mobile-width) {
      font-size: 38px;
    }
  }

  p {
    font-style: italic;
    font-weight: 400;
    font-size: 38px;
    margin: 0;

    @media (max-width: $mobile-width) {
      font-size: 34px;
    }
  }

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/backgrounds/bg-main-intro@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/backgrounds/bg-main-intro-tablet.jpg");
  }

  @media (max-width: $tablet-width) and (min-resolution: 1.5dppx) {
    background-image: url("../img/backgrounds/bg-main-intro-tablet@2x.jpg");
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/backgrounds/bg-main-intro-mobile.jpg");
  }

  @media (max-width: $mobile-width) and (min-resolution: 1.5dppx) {
    background-image: url("../img/backgrounds/bg-main-intro-mobile@2x.jpg");
  }
}

.header__intro--inner {
  min-height: 261px;
  background-image: url("../img/backgrounds/bg-catalog-intro.jpg");

  h2 {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.003em;
  }

  p {
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
  }
}

.header__intro--menu-open {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__open-menu-button {
  display: none;

  @media (max-width: $tablet-width) {
    display: initial;
    margin: 24px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    margin: 17px 0 0 0;
  }
}
