.instagram-posts {
  padding: 10px 0 130px 0;
  text-align: center;

  h2 {
    margin-bottom: 30px;

    @media (max-width: $tablet-width) {
      margin-bottom: 17px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 10px 0 80px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 10px 0 71px;
  }
}

.instagram-posts__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr 34.105% 1fr 1fr;
  gap: 34px 27px;
  padding: 62px 0 0;

  @media (max-width: $tablet-width) {
    gap: 19px 16px;
    padding: 65px 0 0;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr 1fr;
    gap: 27px 24px;
    max-width: 440px;
    padding: 48px 0 0;
    margin: 0 auto;
  }
}

.instagram-posts__item {
  a {
    display: block;
    overflow: hidden;

    &:hover img {
      transform: scale(1.4);
    }

    &:active {
      opacity: 0.4;
    }
  }

  img {
    transition: transform ease-out 0.4s;
  }
}

.instagram-posts__item--big {
  grid-row-end: span 2;
}

.instagram-posts__image-container--big {
  height: 100%;

  img {
    @media (max-width: $mobile-width) {
      height: 100%;
    }
  }
}

.instagram-posts__item--hide-on-mobile {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
