.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: $liquorice-opacity;
}

.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 430px;
  font-size: 14px;
  color: $grey;
  padding: 138px 45px 10px 45px;
  box-shadow: 0 5px 32px $vista-white-opacity;
  background-color: $desert-storm;
  background-image: url("../img/backgrounds/bg-popup-log-in.jpg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;

  h2 {
    @media (max-width: $mobile-width) {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 442px;
  }

  @media (max-width: $mobile-width) {
    width: 270px;
    padding: 84px 15px 10px 15px;
  }
}

.modal__log-in {
  padding: 22px 0;

  @media (max-width: $mobile-width) {
    padding: 12px 0;
  }
}

.modal__input-container {
  margin-bottom: 24px;

  input {
    border: none;
    border-bottom: 1px solid $liquorice;
    width: 100%;
    padding: 10px 0 8px 0;
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $grey;
    background-color: $transparent;
  }

  p {
    text-align: center;
  }

  a {
    color: $liquorice;
  }
}

.modal__input-container--pasword {
  p {
    font-size: 12px;
    line-height: 18px;
    margin: 5px 0;
    text-align: right;
  }

  a {
    color: $grey;
  }
}

.modal__submit-button {
  width: 100%;
  padding: 23px 10px;
  margin: 21px 0 0 0;
  color: $white;
  background-color: $brown;
}

.modal--open {
  display: block;
}
