.new-arrivals {
  color: $liquorice;
  box-sizing: border-box;
  text-align: center;

  h2 {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 25px;

    @media (max-width: $tablet-width) {
      margin-bottom: 17px;
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: bottom;
  }

  a {
    @include link-reset;
  }
}

.new-arrivals__slider {
  overflow: hidden;
  outline: 2px solid red;
}

.new-arrivals__list {
  @include list-reset;

  outline: 2px solid green;
  box-sizing: content-box;

  max-width: 100%;
  display: flex;
  padding: 57px 0 0 0;

  @media (max-width: $tablet-width) {
    padding: 54px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 44px 0 0 0;
  }
}

.new-arrivals__item {
  margin-right: 2.6%;
  width: 23.069%;
  flex-shrink: 0;

  a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin: 19px 0 4px 0;
  }

  span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }

  @media (max-width: $tablet-width) {
    margin-right: 4.3%;
    width: 47.8%;
  }

  @media (max-width: $tablet-width) {
    margin-right: 10.2%;
    width: 45%;
  }
}

.new-arrivals__image-container {
  @media (max-width: $tablet-width) {
    width: 324px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
  }
}

.new-arrivals__button {
  @include button-reset;

  position: absolute;
  top: 39px;
  cursor: pointer;
}

.new-arrivals__button--previous {
  left: 0;
}

.new-arrivals__button--next {
  right: 0;
}
