.new-arrivals {
  color: $liquorice;
  box-sizing: border-box;
  text-align: center;
  padding: 0 0 85px 0;

  h2 {
    margin-bottom: 25px;
    letter-spacing: -0.003em;

    @media (max-width: $tablet-width) {
      margin-bottom: 17px;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 0 0 33px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 23px 0;
  }
}

.new-arrivals--inner {
  padding: 0 0 123px 0;

  h2 {
    margin-bottom: 16px;

    @media (max-width: $mobile-width) {
      margin: 32px 0 16px 0;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 0 0 72px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 60px 0;
  }
}

.new-arrivals__list {
  @include list-reset;

  padding: 57px 0 0 0;

  @media (max-width: $tablet-width) {
    padding: 54px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 44px 0 0 0;
  }
}

.new-arrivals__list--inner {
  padding: 63px 0 0 0;

  @media (max-width: $tablet-width) {
    padding: 55px 0 0 0;
  }

  @media (max-width: $mobile-width) {
    padding: 45px 0 0;
  }
}

.new-arrivals__item {
  a {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      color: $brown;
    }

    &:active {
      opacity: 0.4;
    }
  }

  p {
    margin: 19px 0 4px 0;

    @media (max-width: $mobile-width) {
      margin: 12px 0 4px;
    }
  }

  span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
}

.new-arrivals__image-container {
  width: 100%;
}
