.products__list {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px 30px;
  text-align: center;

  p {
    margin-bottom: 2px;
  }

  span {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}
