.subscribe {
  flex-basis: 43%;
  margin: 0 7.5% 0 0;

  h2 {
    text-align: left;
    color: $white;
    margin: 0;

    @media (max-width: $mobile-width) {
      padding: 0 20% 0 0;
    }
  }

  p {
    margin: 7px 0 32px 0;
    color: $grey;

    @media (max-width: $mobile-width) {
      margin: 10px 20% 28px 0;
    }
  }

  svg {
    width: 29px;
    height: 9px;
    margin: 0 0 0 11px;
  }

  @media (max-width: 1210px) {
    margin: 0 3% 0 0;
  }

  @media (max-width: $tablet-width) {
    flex-basis: 100%;
    margin: 0 0 40px 0;
  }
}

.subscribe__input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid $white;

  input {
    width: 75%;
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border: none;
    border-radius: 0;
    color: $white;
    padding: 9px 0 8px 0;
    background-color: $transparent;

    &::placeholder {
      color: $grey;
    }

    &:hover {
      outline: 1px solid $white;
    }

    @media (max-width: $mobile-width) {
      width: 60%;
    }
  }

  @media (max-width: $tablet-width) {
    width: 83%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
