$main-font: "Poppins", "Arial", sans-serif;
$secondary-font: "Cormorant Garamond", "Arial", sans-serif;
$mobile-width: 767px;
$tablet-width: 1023px;

$white: #ffffff;
$vista-white: #e2ddd7;
$liquorice: #1d1613;
$black: #000000;
$grey: #9b9997;
$seashell: #f6f5f4;
$desert-storm: #f0eae4;
$brown: #a87b62;
$black-shadow: rgba($black, 0.25);
$transparent: transparent;
$light-transparent-white: rgba($white, 0.75);
$transparent-white: rgba($white, 0.15);
$liquorice-opacity: rgba($liquorice, 0.25);
$vista-white-opacity: rgba($vista-white, 0.24);
